.txtCent{
    display: flex;
    width: 100%;
    justify-content: center;
}
form{
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 10%;
    padding-right: 10%;
}
.logoDC{
    padding-top: 20%;
    padding-bottom: 20%;
    padding-left: 5%;
    padding-right: 5%;
}