.logoDC{
    padding-top: 20%;
    padding-bottom: 20%;
    padding-left: 5%;
    padding-right: 5%;
}
.txtCent{
    text-align: justify;
    padding-left: 8%;
    padding-right: 8%;
    display: flex;
    width: 100%;
    justify-content: center;
}