<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Recupera</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Recuperar Contraseña</ion-title>
    </ion-toolbar>
  </ion-header>

 <ion-card>
  <ion-card-header>
    <ion-card-title>¿Haz Olvidado la Clave de la app?</ion-card-title>
  </ion-card-header>

  <ion-label position="floating">Solo con tu email puedes recuperar tu contraseña </ion-label><br><br>
  <ion-label position="floating">Correo Electrónico</ion-label>
  <ion-input type="email" placeholder="mail@corre.com "></ion-input>

  <ion-button  [href]="'mailto:matamalaopazomarcelo@gmail.com'" expand="block" fill="solid" shape="round" color="warning">
    Recuperar
  </ion-button>
 </ion-card>
 
</ion-content>






